{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Deepak Bhart, dbads, Tech magician, MNNITian, Skuad, Syfe, Collegedunia">
  <meta name="author" content="Deepak Bharti(@dbads)">

  
  <title>Deepak Bharti(dbads) </title>
  <meta name="description" content="Python & Javascript Artist">
  <link rel="icon" href="{% static 'img/ptt_1.png' %}" type="image/gif" sizes="16x16">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="google-site-verification" content="google-site-verification=sKXFrq-EVpm_AG2PY1V92MMOANpf78wh85jWg_rhwx8">
  
  <meta property="fb:app_id" content="231408114842269">
  <meta property="og:url" content="http://deepakbharti.com">
  <meta property="og:type" content="portfolio">
  <meta property="og:title" content="Python & Javascript Artist">
  <meta property="og:description" content="Need an Artist? lets talk! hands on - Python/Django, Js/Nodejs/reactjs, kotlin/springboot">
  <meta property="og:image" content="http://deepakbharti.com/static/img/ptt_1.png">
  <meta property="og:site_name" content="dbads">
  
  <meta name="image" property="og:image" content="http://deepakbharti.com/static/img/ptt_1.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dbads">
  <meta name="twitter:creator" content="@dbads">
  <meta name="publish_date" property="og:publish_date" content="04-09-1996">


  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'css/dbadspage.css' %}">
  <style>
  </style>
</head>

<body>

  <script type="application/ld+json"> 
    {
      '@context': 'http://schema.org',
      '@type': 'Portfolio',
      url: 'http://deepakbharti.com/',
      logo: 'http://deepakbharti.com/img/ptt_1.png',
      name: '@dbads',
      image: 'http://deepakbharti.com/static/img/ptt_1.png',
      sameAs: [
        'https://www.facebook.com/dbadss',
        'https://www.linkedin.com/in/dbads/',
        'https://twitter.com/_dbads',
        'https://www.quora.com/profile/Deepak-Bharti-16',
      ],
      telephone: '+917275036250',
    }
  </script>

  <div class="box col col-md-10 col-md-offset-1">
    <img src="{% static 'img/ptt_1.png' %}" alt="" class="box-img box_pic">
    <h1>
      Deepak Bharti <br>
      <span class="dbads"> </span>
    </h1>
    <h6>
      Tech Cofounder @ <a href="https://www.skuad.io">Stealth Mode</a>
    </h6>
    <h6>
      previously @ <a href="https://www.syfe.com">Skuad</a> | <a href="https://www.syfe.com">Syfe</a> | <a href="https://www.collegedunia.com">Collegedunia</a>
    </h6>
    <ul>
      <!-- <li class="social_links phone"><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li> -->
      <li class="social_links resume"><a href="https://drive.google.com/drive/folders/1Y-xLKNZx3M-5kFWfbn5N_S2eITMnfCdl?usp=sharing"><i class="fa fa-id-card-o" aria-hidden="true"></i></a></li> 
      <li class="social_links github"><a href="https://github.com/dbads/"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li class="social_links linkedin"><a href="https://www.linkedin.com/in/dbads/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      <li class="social_links twitter"><a href="https://twitter.com/_dbads"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li class="social_links quora"><a href="https://www.quora.com/profile/Deepak-Bharti-16"><i class="fa fa-quora" aria-hidden="true"></i></a></li>
    </ul>
    <br>
    <!-- <p>
      <a href="tel:+917275036250"><i class="fa fa-phone"></i></a> | <a href="mailto:deepakbharti@mnnit.ac.in"><i class="fa fa-envelope"></i></a>
    </p> -->
  </div>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/typeit@7.X.X/dist/typeit.min.js"></script>
  
  <script src="{% static 'js/dbadspage.js' %}"></script>

  <script>
  </script>
</body>
</html>
