{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=640, initial-scale=0.47, maximum-scale=1.0, user-scalable=1">
  <meta name="keywords" content="Deepak Bhart, dbads, Tech magician, MNNITian, Collegedunia">
  <meta name="author" content="Deepak Bharti(@dbads)">

  
  <title>Deepak Bharti(dbads) </title>
  <meta name="description" content="Talk to The Tech magician Deepak Bharti">
  <link rel="icon" href="{% static 'img/deepak_tab_icon.jpeg' %}" type="image/gif" sizes="16x16">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="msvalidate.01" content="C56D353C5C4B5A34B41795561612A6FC">
  <meta name="google-site-verification" content="google-site-verification=sKXFrq-EVpm_AG2PY1V92MMOANpf78wh85jWg_rhwx8">
  
  <meta property="fb:app_id" content="231408114842269">
  <meta property="og:url" content="http://deepakbharti.me">
  <meta property="og:type" content="portfolio">
  <meta property="og:title" content="Talk to the Tech magician Deepak Bharti">
  <meta property="og:description" content="Get to know what Tech magician Deepak is upto">
  <meta property="og:image" content="http://deepakbharti.me/static/img/deepak_kheerganga_rock.jpeg">
  <!-- <meta property="og:image:type" content="image/png"> -->
  <!-- <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024"> -->
  <meta property="og:site_name" content="dbads">
  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@dbads">
  <meta name="twitter:creator" content="@dbads">


  
  <style>
    body {
      background: "url({% static 'img/bg.jpg' %}) no-repeat center center fixed";
      height: 100%;
      margin: 0;
      padding: 0;
      background-size: cover;
    }

    .box {
      width: 450px;
      background: rgba(0, 0, 0, 0.4);
      padding: 40px;
      text-align: center;
      margin: auto;
      margin-top: 5%;
      color: white;
      font-family: 'Century Gothic', sans-serif;
      border-radius: 10%;
    }

    .box-img {
      border-radius: 50%;
      min-width: 200px;
      min-height: 200px;
      max-width: 200px;
      max-height: 200px;
    }

    .box h1 {
      font-size: 40px;
      letter-spacing: 4px;
      font-weight: 100;
    }

    .box h5 {
      font-size: 20px;
      letter-spacing: 3px;
      font-weight: 100;
    }

    .box p {
      text-align: justify;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    .box li {
      display: inline-block;
      margin: 6px;
      list-style: none;
    }

    .box li a {
      color: white;
      text-decoration: none;
      font-size: 60px;
      transition: all ease-in-out 250ms;
    }

    .box li a:hover {
      color: #b9b9b9;
    }
  </style>
</head>

<body>

  <script type="application/ld+json"> 
    {
      '@context': 'http://schema.org',
      '@type': 'Portfolio',
      url: 'http://deepakbharti.me/',
      logo: 'http://deepakbharti.me/img/deepak_kheerganga_rock.jpeg',
      name: '@dbads',
      sameAs: [
        'https://www.facebook.com/dbadss',
        'https://www.linkedin.com/in/dbads/',
        'https://twitter.com/_dbads',
        'https://www.quora.com/profile/Deepak-Bharti-16',
      ],
      telephone: '+917275036250',
    }
  </script>

  <div class="box">
    <img src="{% static 'img/deepak_kheerganga_rock.jpeg' %}" alt="" class="box-img box_pic">
    <h1>
      Deepak Bharti <br>
      <span class="dbads"> </span>
    </h1>
    <h5>
      The Tech magician @collegedunia
    </h5>
    <p>
      Migrating <a href="https://collegdunia.com/"> collegedunia </a> to node. 
      <a href="https://prepp.in/">Prepp</a> is the beginning.
      Automated the onboarding process @collegedunia, it's on clicks now.
    </p>
    <ul>
      <!-- <li class="social_links phone"><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li> -->
      <li class="social_links resume"><a href="{% static 'img/DeepakBharti.pdf' %}"><i class="fa fa-id-card-o" aria-hidden="true"></i></a></li> 
      <li class="social_links github"><a href="https://github.com/dbads/"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
      <li class="social_links linkedin"><a href="https://www.linkedin.com/in/dbads/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      <li class="social_links twitter"><a href="https://twitter.com/_dbads"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li class="social_links quora"><a href="https://www.quora.com/profile/Deepak-Bharti-16"><i class="fa fa-quora" aria-hidden="true"></i></a></li>
    </ul>
    <br>
    <!-- <p>
      <a href="tel:+917275036250"><i class="fa fa-phone"></i></a> | <a href="mailto:deepakbharti@mnnit.ac.in"><i class="fa fa-envelope"></i></a>
    </p> -->
  </div>

  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/typeit@7.X.X/dist/typeit.min.js"></script>

  <script>
    $('.social_links').hover(
      function inFunction() {
          const classList = $(this.classList).toArray()
          if (this.classList.contains('twitter')) {
            $('body').css({
              'background': "url({% static 'img/twitter_profile_bg.jpg' %}) no-repeat center center fixed",
              'height': '100%',
              'margin': 0,
              'padding': 0,
              'width': '100%', 
              'height': '100%',
              'background-size': 'cover',
            })
            $('.box_pic').prop('src', "{% static 'img/deepak_jimcorbet.jpg' %}")
          } else if (classList.includes('linkedin')) {
            $('body').css({
              'background': "url({% static 'img/linkedin_profile_bg.jpg' %}) no-repeat center center fixed",
              'height': '100%',
              'margin': 0,
              'padding': 0,
              'width': '100%', 
              'height': '100%',
              'background-size': 'cover',
            })
            $('.box_pic').prop('src', "{% static 'img/deepak_lucknow.jpg' %}")
          } else if (classList.includes('github')) {
            $('body').css({
              'background': "url({% static 'img/github_profile_bg.jpg' %}) no-repeat center center fixed",
              'height': '100%',
              'margin': 0,
              'padding': 0,
              'width': '100%', 
              'height': '100%',
              'background-size': 'cover',
            })
            $('.box_pic').prop('src', "{% static 'img/deepak_kheerganga_rock.jpeg' %}")
          } else if (classList.includes('quora')) {
            $('body').css({
              'background': "url({% static 'img/quora_profile_bg.jpg' %}) no-repeat center center fixed",
              'height': '100%',
              'margin': 0,
              'padding': 0,
              'width': '100%', 
              'height': '100%',
              'background-size': 'cover',
            })
            $('.box_pic').prop('src', "{% static 'img/deepak_lucknow_2.jpg' %}")
          } else if (classList.includes('resume')) {
            $('body').css({
              'background': "url({% static 'img/deepak_resume.jpg' %}) no-repeat center center fixed",
              'height': '100%',
              'margin': 0,
              'padding': 0,
              'width': '100%', 
              'height': '100%',
              'background-size': 'cover',
            })
            $('.box_pic').prop('src', "{% static 'img/deepak.jpeg' %}")
          }
      },
      function outFunction(){  
        // setting back to default background image
        $('body').css({
          'margin': 0,
          'padding': 0,
          'background': 'url(bg.jpg) no-repeat center center fixed',
          'height': '100%',
          'background-size': 'cover',
        })
        $('.box_pic').prop('src', "{% static 'img/deepak_kheerganga_rock.jpeg' %}")
      }
    )

    let boxPicChangeGlobal
    $('.box_pic').hover(
      function inFunction() {
        const images = [
        "{% static 'img/deepak_jimcorbet.jpg' %}",
        "{% static 'img/deepak_lucknow.jpg' %}",
        "{% static 'img/deepak_kheerganga_rock.jpeg' %}",
        "{% static 'img/deepak_lucknow_2.jpg' %}",
        "{% static 'img/deepak_csed.jpg' %}",
         ]
        let boxPicChange = setInterval(function(){
          const time = Date.now()
          $('.box_pic').prop('src', images[time % images.length])
        }, 800)
        boxPicChangeGlobal = boxPicChange
      },
      function outFunction() {
        clearInterval(boxPicChangeGlobal)
        $('.box_pic').prop('src', "{% static 'img/deepak_kheerganga_rock.jpeg' %}")
      }
    )
    
    new TypeIt('.dbads', {
      strings: "(dbads)"
    }).go();
  </script>
</body>
</html>
